.precios-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
}

.precios-header {
    text-align: center;
    margin-bottom: 50px;
}

.precios-header h1 {
    color: var(--accent-color);
}
.banner-precios-container {
    background: rgb(231, 115, 6);/* Tu color naranja */
    color: white;
    position: relative;
    z-index: 1; /* Valor bajo para que NO tape a la navbar */
} 

/*  Tabla comparativa */
.tabla-precios-wrapper {
    padding: 30px; 
    background: var(--card-bg);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 20px;
    width: 100%;
    max-width: 3500px;
}

.tabla-comparativa {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.tabla-comparativa th, 
.tabla-comparativa td {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    transition: background-color var(--transition-speed);
}

.tabla-comparativa th {
    font-size: 1.2rem;
    background: var(--header-bg);
    color: white;
}

.tabla-comparativa th:first-child,
.tabla-comparativa td:first-child {
    text-align: left;
    font-weight: bold;
}

/* Efecto de resaltado en la fila al pasar el cursor */
.tabla-comparativa tbody tr:hover td {
    background-color: rgba(0, 0, 0, 0.04);
    transform: scale(1.01);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

/* Ajuste para el hover en Modo Oscuro */
.dark .tabla-comparativa tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* Destacar Plan Premium */
.destacado {
    background: #cf643c;
    color: white;
}

.destacado-precio {
    color: var(--accent-color);
    font-size: 1.2rem;
}

[data-bs-toggle="tooltip"] {
    cursor: help;
    border-bottom: 1px dotted var(--accent-color);
}

/* botones para elegir plan*/
.btn-plan {
    padding: 10px 20px;
    background: var(--header-bg);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: transform var(--transition-speed), background var(--transition-speed);
}

.btn-plan:hover {
    transform: translateY(-3px);
}

.destacado-btn {
    background: var(--accent-color);
}

.destacado-btn:hover {
    background: #0056b3;
}